<section class="bestseller-Section">
    <div class="container-Bestseller">
    <h3 class="bestseller-Title">bestsellers</h3>
    

<ul class="cardsUl">


<li class="card-Li card-One full-width">
    <img  
    src="../images/desktop/bestsellers/pic@1x.jpg" 
    alt="Sofa and pictures">

    <p class="bestseller-Text">The modern platform bed</p>
    <p class="bestseller-Cost">750 &#36;</p>
</li>

<!-- 
<div class=""> -->
<li class="new-list-position">
    <ul class="sector_position">
       <li class="card-Li card-Two half-width">
            <img 

            src="../images/desktop/bestsellers/pic2@1x.jpg" 
            alt="interier Summer">

        <p class="bestseller-Text">The Cozy Lounge Chair</p>
    <p class="bestseller-Cost">230 &#36;</p>
</li>


<li class="card-Li card-Three half-width">
            <img 
        
            src="../images/desktop/bestsellers/pic3@1x.jpg" 
            alt="interier minimal">

        <p class="bestseller-Text">The industrial accent chair</p>
    <p class="bestseller-Cost">250 &#36;</p>
</li>

<li class="card-Li card-Four half-width ">
            <img 
            src="../images/desktop/bestsellers/pic4@1x.jpg" 
            alt="interier minimal">

        <p class="bestseller-Text">The industrial accent chair</p>
    <p class="bestseller-Cost">300 &#36;</p>
</li>

<li class="card-Li card-Five half-width ">
            <img 
            src="../images/desktop/bestsellers/pic5@1x.jpg" 
            alt="interier minimal">

        <p class="bestseller-Text">The industrial accent chair</p>
    <p class="bestseller-Cost">650 &#36;</p>
</li> 
    </ul>
</li>


    </ul>

<!-- </div> -->
</div>
</section>
