<section class="bestsellerSection">
    <div class="containerBestseller"></div>
    <h3 class="bestsellerTitle">bestseller</h3>
    

    <ul class="cardsUl">
                <li class="cardLi cardOne">
        <img  
        srcset= " ../images/mobile/bestsellers/pic@1x.jpg 1x, ../images/mobile/bestsellers/pic@2x.jpg 2x"
        src="../images/mobile/bestsellers/pic@1x.jpg" 
        alt="Sofa and pictures">
        <p class="bestsellerText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quae.</p>
        <p class="bestsellerCost">244</p>
                </li>

                <li class="cardLi cardTwo">
        <img 
        srcset= " ../images/mobile/bestsellers/pic2@1x.jpg 1x, ../images/mobile/bestsellers/pic2@2x.jpg 2x"
        src="../images/mobile/bestsellers/pic2@1x.jpg" 
        alt="interier Summer">
        <p class="bestsellerText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quae.</p>
        <p class="bestsellerCost">533</p>
                </li>


                 <li class="cardLi cardThree">
        <img 
        srcset= " ../images/mobile/bestsellers/pic3@1x.jpg 1x, ../images/mobile/bestsellers/pic3@2x.jpg 2x"
        src="../images/mobile/bestsellers/pic3@1x.jpg" 
        alt="interier minimal">
        <p class="bestsellerText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quae.</p>
        <p class="bestsellerCost">344</p>
                </li>
        

            

              
    </ul>
</section>
