<section id="bestsellers" class="bestseller-Section">
    <div class="container-Bestseller">
        <h3 class="bestseller-Title">bestsellers</h3>
        

        <ul class="cardsUl">


        <li class="card-Li card-One full-width">
            <picture>
                <source srcset="../images/desktop/bestsellers/pic@1x.webp 1x, ../images/desktop/bestsellers/pic@2x.webp 2x" type="image/webp" />
                <source srcset="../images/desktop/bestsellers/pic@1x.jpeg 1x, ../images/desktop/bestsellers/pic@2x.jpeg 2x" type="image/jpeg" />
            <img  
            src="../images/desktop/bestsellers/pic@1x.jpg" 
            alt="Sofa and pictures">
        </picture>
            <p class="bestseller-Text">The modern platform bed</p>
            <p class="bestseller-Cost">750 &#36;</p>
        </li>


        <!-- <li class="new-list-position"> -->
            <ul class="sector_position">
            <li class="card-Li card-Two half-width">
                    <picture>
                        <source srcset="../images/desktop/bestsellers/pic2@1x.webp 1x, ../images/desktop/bestsellers/pic2@2x.webp 2x" type="image/webp" />
                        <source srcset="../images/desktop/bestsellers/pic2@1x.jpeg 1x, ../images/desktop/bestsellers/pic2@2x.jpeg 2x" type="image/jpeg" />
                <img src="../images/desktop/bestsellers/pic2@1x.jpg" alt="interier Summer">
                    </picture>
                <p class="bestseller-Text">The Cozy Lounge Chair</p>
            <p class="bestseller-Cost">230 &#36;</p>
        </li>


        <li class="card-Li card-Three half-width">
            <picture>
                        <source srcset="../images/desktop/bestsellers/pic3@1x.webp 1x, ../images/desktop/bestsellers/pic3@2x.webp 2x" type="image/webp" />
                        <source srcset="../images/desktop/bestsellers/pic3@1x.jpeg 1x, ../images/desktop/bestsellers/pic3@2x.jpeg 2x" type="image/jpeg" />
                    <img src="../images/desktop/bestsellers/pic3@1x.jpg" alt="interier minimal">
            </picture>
                <p class="bestseller-Text">The industrial accent chair</p>
            <p class="bestseller-Cost">250 &#36;</p>
        </li>

        <li class="card-Li card-Four half-width ">
        <picture>
            <source srcset="../images/desktop/bestsellers/pic4@1x.webp 1x, ../images/desktop/bestsellers/pic4@2x.webp 1x" type="image/webp" />
            <source srcset="../images/desktop/bestsellers/pic4@2x.jpeg 2x, ../images/desktop/bestsellers/pic4@2x.jpeg 2x" type="image/jpeg" />
            <img src="../images/desktop/bestsellers/pic4@1x.jpg" alt="interier minimal">
        </picture>
                <p class="bestseller-Text">The industrial accent chair</p>
            <p class="bestseller-Cost">300 &#36;</p>
        </li>

        <li class="card-Li card-Five half-width ">
        <picture>
            <source srcset="../images/desktop/bestsellers/pic5@1x.webp 1x, ../images/desktop/bestsellers/pic5@1x.jpeg 1x" type="image/webp" />
            <source srcset="../images/desktop/bestsellers/pic5@2x.jpeg 2x, ../images/desktop/bestsellers/pic5@2x.jpeg 2x" type="image/jpeg" />
            <img src="../images/desktop/bestsellers/pic5@1x.jpg" alt="interier minimal">
        </picture>
                <p class="bestseller-Text">The industrial accent chair</p>
            <p class="bestseller-Cost">650 &#36;</p>
        </li> 
            
        </ul>


   

    </div>

</section>
