<section class="hero">
  <div class="hero-tablet-wrapper">
    <div class="hero-background">
      <h1 class="hero-title">Modern and minimalist furniture for you</h1>
    </div>
    <div class="button-wrapper">
      <p class="hero-description">
        Add a touch of elegance to your space with handcrafted furniture pieces
      </p>
      <button class="button" type="button">
        <svg
          class="svg-animation"
          width="214.66px"
          height="50px"
          viewBox="0 0 214.66 50"
        >
          <polyline points="0,0 214.67,0 214.67,50 0,50 0,0" class="bg-line" />
          <polyline points="0,0 214.67,0 214.67,50 0,50 0,0" class="hl-line" />
        </svg>
        Subscribe
      </button>
    </div>
  </div>
</section>
