.about-us {
  color: var(--blue-font);
  background-color: var(--light-blue);
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 13px;
  padding-right: 13px;
}

@media screen and (min-width: 768px) {
  .about-us {
    background-color: var(--white-color);
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us {
    padding: 0;
    padding-left: 69px;
    padding-right: 51px;
  }
}

@media screen and (min-width: 768px) {
  .about-us-div {
    padding-top: 32px;
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-div {
    background-color: var(--white-color);
    display: flex;
    padding: 0;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .about-us-desktop {
    background-color: var(--light-blue);
    padding-bottom: 36px;
    padding-top: 36px;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-desktop {
    background-color: var(--light-blue);
    padding-top: 36px;
    padding-left: 69px;
    padding-right: 69px;
    padding-bottom: 37px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 24px;
  }
}

.about-us-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: 124px;
}

@media screen and (min-width: 768px) {
  .about-us-title {
    background-color: var(--light-blue);
  }
}

.about-us-title::before {
  content: '';
  display: inline-block;
  top: 50%;
  background-color: var(--blue-font);
  width: 30px;
  height: 1px;
  transform: translateY(50%);
  margin-right: 10px;
}

.about-us-subtitle {
  font-size: 28px;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-us-subtitle {
    width: 576px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-subtitle {
    width: 622px;
    font-size: 32px;
    line-height: 45px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

.about-us-paragraph {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-us-paragraph {
  }
}

@media screen and (min-width: 1440px) {
  .about-us-paragraph {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
  }
}

.about-us-features {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .about-us-features {
    width: 100%;
  }
}

.list-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .list-features {
    display: flex;
    flex-direction: row;
    gap: 33px;
    margin-left: auto;
    margin-right: auto;
  }
}

.our-features-item {
}

@media screen and (min-width: 768px) {
  .our-features-item {
    display: flex;
    flex-direction: column;
    gap: 33px;
  }
}

@media screen and (min-width: 1440px) {
  .our-features-item {
    /* width: 170px; */
  }
}

.features-item-title {
  text-align: center;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  font-weight: normal;
}

.about-us-image {
  margin: auto;
  margin-top: 30px;
}

@media screen and (min-width: 1440px) {
  .about-us-image {
    width: 100%;
    margin: 0;
  }
}

.about-us-picture {
  margin: auto;
}

@media screen and (min-width: 1440px) {
  .about-us-picture {
    width: 100%;
    margin: 0;
  }
}
