
.contacts{
   
    padding: 64px 16px;
    margin: 0 auto;
}

.contacts-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}


.contacts-tittle{
    margin-bottom: 20px;
    color: var(--blue-font);
    font-weight: 400;
    text-align: center;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    line-height: 1.18;
    text-transform: uppercase;
}
 

.contacts-subtittle{
    margin-bottom: 30px;
    color: var(--blue-font);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

.contacts-form{
    max-width: 536px;
    display: flex ;
    flex-direction: column;
    gap: 20px;

}

.contacts-form-imput{
    width: 100%;
    height: 50px;
    padding: 11px 20px;
    border: 1px solid var(--dark-gray-clr);

}


.contacts-form-imput::placeholder{
    color: var(--grey-color);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}



.checkbox-label{
    display: flex;
    gap: 8px;
    color: var(--dark-grey, #B6B6B6);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    cursor: pointer;
}

.contacts-send-btn{
    display: block;
    border: none;
    cursor:pointer;
    margin-top: 12px;
    max-width: 224px;
    padding: 17px 65px;
    background: var(--blue-font);
    color: var(--white-color);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5; 
 
}

.contacts-img{
    display: block;
    width: 100%;
}

.contacts-checkbox{
    display: none;
}

.fake-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid var(--dark-gray-clr);
}



.contacts-checkbox:checked + .fake-checkbox {

    background-color: var(--blue-font);
    
}

.contacts-checkbox:checked ~.fake-checkbox-svg{
    fill: var(--white-color);
}



/* _________________________TABLET________________________ */
@media screen and (min-width: 768px){
   .contacts-tittle{
     text-align: left;
   }

   .contacts-subtittle{
      max-width: 536px ;
   }

   .contacts-send-btn{
      margin-bottom: 34px;
   }
}


/* ______________________________DESKTOP________________________ */
@media screen and (min-width: 1440px){
    .contacts-container{
        flex-direction: row;
        gap: 100px;
        
    }

    .contacts-tittle{
         margin-bottom: 30px;
    }

    .contacts-subtittle{
        margin-bottom: 20px;
    }


    .contacts-img-tumb{
        width: 460px;
    }

    .contacts-tittle-wrapper{
        max-width:  536px;
    }
    
    .contacts-send-btn{
        margin-bottom: 0;
    }
}